VPN_GW="" #This is the vpn gateway IP (eg. 10.8.0.1).
DNS_INTERNAL="" #This is the internal DNS Server IP (eg 10.20.0.2).
DNS_EXTERNAL="" #This is the external DNS Server IP (eg. 8.8.8.8).
DOMAINS_INTERNAL=("database.internal.domain" "internal.domain1") #Change this to meet your needs.
DOMAINS_EXTERNAL=("google.com" "cloudflare.com") #You can add as many as you want.
DB_HOST="database.internal.domain" #Test connection to a database on the remote network.
DB_NAME="database-name"
DB_PORT=5432
INTERVAL=30
OPENVPN_SERVICE="openvpn-client@client.service"  # Ajust to your systemd service
